body{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: pink;
    padding: 1vw;
}

nav{
    display: grid;
    grid-template-columns: 1.75fr repeat(8,1fr) 1.75fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.Home{
    grid-column: 2/2;
}