body{
    background-color: #2946bf;
    color: #f8c134;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

h1{
    text-align: center;
    font-size: 5rem;
}

h2{
    text-align: center;
}

.maincontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.3fr;
    place-items: center;
}

.aboutcontainer{
    width: 100%;
    height: 500px;
    position: relative;
    grid-column: 1/1;
    grid-row: 1/3;
    background-color: #d6f5ff;
    color: #f8c134;
}

.uscontainer{
    width: 100%;
    height: 500px;
    position: relative;
    grid-column: 2/2;
    grid-row: 1/3;
    background-color: #05006c;
    color: #f8c134;
}

.abouttitle{
    z-index: 1;
    position: relative;
    top: 15%;
    left: 65%;
}

.ustitle{
    position: relative;
    top: 30%;
    right: 4%;
}