
body{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: #adeaff;
    padding: 1vw;
}

.headerlinks{
    display: grid;
    grid-template-columns: 1.75fr repeat(8, 1fr) 1.75fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.Home{
    grid-column: 2/2;
}

.headerlinks > a{
    color: #2946bf;
}

.maincontainer{
    background-color: #d6f5ff;
    display: grid;
    grid-template-rows: 0.3fr 1.2fr 2.5fr 0.88fr;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.contactustitle{
    color: #f8c134;
    grid-column: 2/2;
    grid-row: 2/2;
    font-size: 4rem;
    margin-top: 0%;
}

.emailsquare{
    position: relative;
    top: 35%;
    height: 210px;
    width: 330px;
    background-color: #2946bf;
    grid-column: 1/1;
    grid-row: 3/3;
}

.instasquare{
    position: relative;
    top: 35%;
    height: 210px;
    width: 330px;
    background-color: #2946bf;
    grid-column: 2/2;
    grid-row: 3/3;
}

.linkedinsquare{
    position: relative;
    top: 35%;
    height: 210px;
    width: 330px;
    background-color: #2946bf;
    grid-column: 3/3;
    grid-row: 3/3;
}

.emailoutline{
    position: relative;
    bottom: 17%;
    z-index: 1;
    grid-column: 1/1;
    grid-row: 3/3;
    height: 150px;
    width: 260px;
    border-right: #f8c134 solid 4px;
    border-left: #f8c134 solid 4px;
    border-top: 4px solid #f8c134;
    border-bottom: 4px solid #f8c134;
    border-radius: 5%;
}

.emailv1{
    position: relative;
    bottom: 47%;
    z-index: 1;
    grid-column: 1/1;
    grid-row: 3/3;
    height: 180px;
    width: 180px;
    border-bottom: 4px solid #f8c134;
    border-left: #f8c134 solid 4px;
    transform: rotate(-45deg);
}

.emailline1{
    position: relative;
    top: 150%;
    z-index: 1;
    grid-column: 1/1;
    grid-row: 2/2;
    height: 105px;
    width: 4px;
    background-color: #f8c134;
    transform: rotate(48deg);
    right: 21.1%;
}

.emailline2{
    position: relative;
    top: 150%;
    z-index: 1;
    grid-column: 1/1;
    grid-row: 2/2;
    height: 105px;
    width: 4px;
    background-color: #f8c134;
    transform: rotate(-48deg);
    left: 21.1%; 
}

.instaoutline{
    position: relative;
    z-index: 1;
    bottom: 13%;
    height: 170px;
    width: 180px;
    grid-column: 2/2;
    grid-row: 3/3;
    border-bottom: #f8c134 5px solid;
    border-top: #f8c134 solid 5px;
    border-left: #f8c134 solid 5px;
    border-right: #f8c134 solid 5px;
    border-radius: 15%;
}

.instacircle1{
    position: relative;
    height: 15px;
    width: 15px;
    border-bottom: 5px solid #f8c134;
    border-top: 5px solid #f8c134;
    border-left: 5px solid #f8c134;
    border-right: 5px solid #f8c134;
    border-radius: 100%;
    grid-column: 2/2;
    grid-row: 3/3;
    z-index: 1;
    left: 16%;
    bottom: 35%;
}

.instacircle2{
    position: relative;
    height: 80px;
    width: 80px;
    border-bottom: 5px solid #f8c134;
    border-top: 5px solid #f8c134;
    border-left: 5px solid #f8c134;
    border-right: 5px solid #f8c134;
    border-radius: 100%;
    grid-column: 2/2;
    grid-row: 3/3;
    z-index: 1;
    bottom: 15%;
}

.instabox{
    position: relative;
    height: 85px;
    width: 145px;
    border-bottom: 5px solid #f8c134;
    border-left: 5px solid #f8c134;
    border-right: 5px solid #f8c134;
    grid-column: 2/2;
    grid-row: 3/3;
    z-index: 1;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    bottom: 3%;
}

.instaline1{
    position: relative;
    height: 5px;
    width: 37px;
    background-color: #f8c134;
    grid-column: 2/2;
    grid-row: 3/3;
    z-index: 1;
    bottom: 20.5%;
    right: 13.6%;
}

.instaline2{
    position: relative;
    height: 5px;
    width: 34px;
    background-color: #f8c134;
    grid-column: 2/2;
    grid-row: 3/3;
    z-index: 1;
    bottom: 20.5%;
    left: 13.2%;
}

.linkedinicon{
    position: relative;
    grid-column: 3/3;
    grid-row: 3/3;
    z-index: 1;
    color: #f8c134;
    font-weight: 900;
    font-size: 190px;
    padding: 0%;
    margin: 0%;
    bottom: 20%;
}

.emailpara{
    position: relative;
    grid-column: 1/1;
    grid-row: 3/3;
    z-index: 1;
    top: 25%;
    color: #f8c134;
    font-size: 30px;
}

.ouremail{
    position: relative;
    grid-column: 1/1;
    grid-row: 3/3;
    z-index: 1;
    top: 50%;
    color: #f8c134;
    font-size: 18px;
}

.instabutton{
    position: relative;
    grid-column: 2/2;
    grid-row: 3/3;
    z-index: 1;
    color: #f8c134;
    font-size: 30px;
    top: 45%;
}

.linkedinbutton{
    position: relative;
    grid-column: 3/3;
    grid-row: 3/3;
    z-index: 1;
    color: #f8c134;
    font-size: 30px;
    top: 45%;
}