body{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: #adeaff;
    padding: 1vw;
}

nav{
    display: grid;
    grid-template-columns: 1.75fr repeat(8,1fr) 1.75fr;
    grid-template-rows: 1fr;
    place-items: center;
}

nav>a{
    color: #2946bf;
}

.Home{
    grid-column: 2/2;
}

.maincontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-content: center;
}

.abouttitlecontainer{
    background-color: #d6f5ff;
    color: #f8c134;
    width: 100%;
    height: 200%;
}

.ustitlecontainer{
    background-color: #05006c;
    color: #f8c134;
    width: 100%;
    height: 200%;
}

.abouttitle{
    position: relative;
    top: 20%;
    font-size: 100px;
    left: 65%;
}

.ustitle{
    position: relative;
    top: 35%;
    font-size: 100px;
    right: 5%;
}

.mainvisioncontainer{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1.3fr 1fr 1fr 1fr 1.5fr;
}

.visioncontentbackground{
    grid-column: 2/2;
    grid-row: 1/6;
    background-color: #234388;
}

.visiontitle{
    position: relative;
    top: 95%;
    grid-column: 1/1;
    grid-row: 2/2;
    font-size: 60px;
    padding-left: 1vw;
    margin: 0%;
    height: 90px;
    left: 20%;
}


.missiontitle{
    position: relative;
    top: 55%;
    grid-column: 1/1;
    grid-row: 3/3;
    font-size: 60px;
    padding-left: 1vw;
    margin: 0%;
    height: 90px;
    left: 20%;
}

.goalstitle{
    position: relative;
    top: 15%;
    grid-column: 1/1;
    grid-row: 4/4;
    font-size: 60px;
    padding-left: 1vw;
    margin: 0%;
    height: 90px;
    left: 20%;
}

.visionheader{
    position: relative;
    grid-column: 2/2;
    grid-row: 2/2;
    font-size: 40px;
    width: 120px;
    padding-left: 1vw;
    left: 5%;
    color: #f8c134;
}

.visionpara{
    position: relative;
    grid-column: 2/2;
    grid-row:2/3;
    top: 65%;
    width: 700px;
    padding-left: 1vw;
    left: 5%;
    color: #f8c134;
}

.missionheader{
    position: relative;
    grid-column: 2/2;
    grid-row: 3/3;
    font-size: 40px;
    width: 120px;
    padding-left: 1vw;
    left: 5%;
    top: 25%;
    color: #f8c134;
}

.missionpara{
    position: relative;
    grid-column: 2/2;
    grid-row:3/4;
    top: 85%;
    width: 700px;
    padding-left: 1vw;
    left: 5%;
    color: #f8c134;
}

.goalsheader{
    position: relative;
    grid-column: 2/2;
    grid-row: 4/4;
    font-size: 40px;
    width: 120px;
    padding-left: 1vw;
    left: 5%;
    top: 45%;
    color: #f8c134;
}

.goalspara{
    position: relative;
    grid-column: 2/2;
    grid-row:4/5;
    top: 105%;
    width: 700px;
    padding-left: 1vw;
    left: 5%;
    color: #f8c134;
}
