header{
    background-color: rgba(171, 234, 255, 0.8);
    margin: 0%;
    margin: 0px;
    position: relative;
    padding-top: 1vh;
    padding-bottom: 0.1vh;
}

body{
    margin: 0%;
    padding: 0%;
    background-color: #d6f5ff;
}

a{
    margin: 0px;
    padding: 1vw;
    color: #2946bf;
    position: relative;
    left: 12vw;
    opacity: 100%;
    font-size: x-large;
}

.Contactcontainer{
    padding: 0%;
    margin: 0%;
    position: relative;
    max-height: fit-content;
}

.Insta{
    position: absolute;
    left: 43%;
    width: 145px;
    top: 65%;
    opacity: 0;
}

.LinkedIn{
    position: absolute;
    left: 76.5%;
    width: 143px;
    top: 67%;
    opacity: 0;
}

@media (max-width:450px) and (max-height:950px){
    
    body{
        max-height: 30%;
        max-width: 100%;
    }

    .bigcontact{
        max-width: 99.9%;
        max-height: min-content
    }

    header{
        display: flex;
        align-content: center;
        justify-content: center;
        min-width: 100%;
        max-width: 100%;
    }

    a{
        font-size: 0.7rem;
        margin: 0%;
        max-width: 100%;
        padding: 0%;
        left: 2%;
    }

    .sponsor{
        display: none;
    }
}


.moreaboutus{
    position: relative;
    font-size: 1.75rem;
    grid-column: 2/2;
    grid-row: 1/1;
    max-width: 90px;
}


.meetcom{
    position: relative;
    grid-column: 1/1;
    grid-row: 2/2;
    height: 10vh;
}

.contactus{
    position: relative;
    grid-column: 2/2;
    grid-row: 2/2;
    height: 10vh;
}

.learnmore{
    position: relative;
    grid-column: 3/3;
    grid-row: 2/2;
    height: 10vh;
}

.meetcombutton{
    position: relative;
    color: black;
    font-size: 1rem;
    max-width: 350px;
    grid-column: 1/1;
    grid-row: 3/3;
    top: 15%;
    max-height: 100px;
}

.contactus2{
    position: relative;
    color: black;
    min-width: 180px;
    font-size: 1rem;
    grid-column: 2/2;
    grid-row: 1/1;
    right: 1%;
    top: 75%;
    max-height: 100px;
}

.learnmorebutton{
    position: relative;
    color: black;
    font-size: 1.2rem;
    max-width: 20px;
    grid-column: 3/3;
    grid-row: 3/3;
    max-height: 30px;
    padding: 0%;
}